<%- include partials/header.ejs  %>

<body>
    <%- include partials/navbar.ejs %>
    <div class="container">
      <h1>Testando a view principal.........</h1>
    </div>
  
    <%= valor  %>
</body>

<%- include partials/footer.ejs  %>